
.carousel-container{
  
  margin-top: 100px;
}

.banner{
  height: 505px;
}
.banner img{
  height: 100%;
}
.carousel-item{
 border-radius: 10px;
  background-color: #064C37;
}
.carousel-item img{
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
}

.banner-info{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.banner-info h2{
  color: #fff;
  font-size: 36px;
}
.banner-info p{
  font-size: 28px;
  padding-right: 50px;
  color: #fff;
}


.carousel-indicators li { 
  display: none;
 }

 @media screen and (max-width:992px) {
   .banner-info h2{
     font-size: 22px;
     
   }
   .banner-info p{
     font-size: 17px;
   }
 }
 @media screen and (max-width:768px){
  .banner{
    height: 300px;
  }
}
 @media screen and (max-width:544px) {
   .banner-info h2{
     font-size: 17px;
     
   }
   .banner-info p{
     font-size: 14px;
   }
 }