.services-title{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    border-bottom:3px solid #618D2B;
    width: 30%;
    padding-bottom: 15px;
    margin: 0 auto;
    color: #212529;
    

}